# Simulation outputs
coupling.log
step_*/
figures/

# Runtime files
openedge/output/
openedge/restart.dat
openedge/plasma.h5
openedge/in.chunk_*
openedge/core.surf
openedge/wall.surf
openedge/droplet.species
openedge/particle.source
solps/
