/Makefile.package
/Makefile.package.settings
/Makefile.package-e
/Makefile.package.settings-e
/spa_*
/CMakeCache.txt
/CMakeFiles/
/cmake_install.cmake
/src/
/run_spa
/examples/
/paraview/
/run_spa

/style_*.h

/*_kokkos.h
/*_kokkos.cpp
!/accelerator_kokkos.h

/kokkos.cpp
/kokkos.h
/kokkos_base.h
/kokkos_base_fft.h
/kokkos_copy.h
/kokkos_scan.cpp
/kokkos_scan.h
/kokkos_type.h
/rand_pool_wrap.cpp
/rand_pool_wrap.h

# OpenEdge new files (installed by OPENEDGE/Install.sh)
/boris_grid.h
/nanbu_scatter_table.h
/sheath_models.cpp
/sheath_models.h
/compute_iead.cpp
/compute_iead.h
/compute_incident_plasma_flux.cpp
/compute_incident_plasma_flux.h
/compute_bfield_timedep.cpp
/compute_bfield_timedep.h
/compute_plasma_fields.cpp
/compute_plasma_fields.h
/compute_surface_physical_sputter.cpp
/compute_surface_physical_sputter.h
/compute_nearest_surf_grid.cpp
/compute_nearest_surf_grid.h
/compute_surf_ead.cpp
/compute_surf_ead.h
/compute_thermal_sheath_grid.cpp
/compute_thermal_sheath_grid.h
/fix_bfield_grid.cpp
/fix_bfield_grid.h
/fix_bfield_particle.cpp
/fix_bfield_particle.h
/fix_chem_adas.cpp
/fix_chem_adas.h
/fix_coll_background.cpp
/fix_coll_background.h
/fix_coll_nanbu.cpp
/fix_coll_nanbu.h
/fix_drag.cpp
/fix_drag.h
/fix_efield_grid.cpp
/fix_efield_grid.h
/fix_efield_particle.cpp
/fix_efield_particle.h
/fix_emit_droplet.cpp
/fix_emit_droplet.h
/fix_emit_surf_file.cpp
/fix_emit_surf_file.h
/fix_surface_emit_source.cpp
/fix_surface_emit_source.h
/fix_evaporation.cpp
/fix_evaporation.h
/fix_gravity.cpp
/fix_gravity.h
/fix_thermal_force_e.cpp
/fix_thermal_force_e.h
/fix_thermal_force_i.cpp
/fix_thermal_force_i.h
/fix_viscous.cpp
/fix_viscous.h
/surf_react_mpex.cpp
/surf_react_mpex.h
/surf_react_pmi.cpp
/surf_react_pmi.h

# OpenEdge override backup files
*.sparta_orig

/compute_fft_grid.cpp
/compute_fft_grid.h
/fft2d.cpp
/fft2d.h
/fft2d_wrap.cpp
/fft2d_wrap.h
/fft3d.cpp
/fft3d.h
/fft3d_wrap.cpp
/fft3d_wrap.h
/fftdata.h
/kissfft.h
/pack2d.h
/pack3d.h
/remap2d.cpp
/remap2d.h
/remap3d.cpp
/remap3d.h
/spafftsettings.h
